.checkedText {
  color: #0437ec;
  text-decoration: line-through;
}

/*.input-group>.input-group-prepend>.input-group-text {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
   background-color: transparent;
}*/
.btn-view {
  border-color: #CEDEF2;
  color: #CEDEF2;
}
.btn-view:hover {
  background-color: #0455BF;
  border-color: #CEDEF2;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  background-color: #3890dc;
  border-color: #CEDEF2;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem #0468bf;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.custom-control-label::before {
  width: 1.5rem;
  height: 1.5rem;
}

.custom-control-label::after {
  width: 1.5rem;
  height: 1.5rem;
}

body {
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #CEDEF2;
  line-height: 1.5;
  background-color: #CEDEF2;
}
body .container {
  border-radius: 15px;
  background-color: #0468BF;
  box-shadow: 0 0 0.7em black;
  min-height: 100vh;
  padding-bottom: 16px;
  padding-top: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body .container .header h1 {
  text-align: center;
}
body .container .create-task {
  color: #ffffff;
}
body .container ::placeholder {
  color: #CEDEF2;
}
body .container .tasks-bord .create-task {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
body .container .tasks-bord .box-tasks {
  background-color: transparent;
}
body .container .tasks-bord .box-tasks .task {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border-top: none;
  display: flex;
  align-items: center;
}
body .container .tasks-bord .box-tasks .task .input-group-prepend {
  background-color: transparent;
  color: #CEDEF2;
}
body .container .tasks-bord .box-tasks .task .text-task {
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
  color: #ffffff;
  background-color: transparent;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  overflow: hidden;
  min-height: 2em;
  width: 100%;
}
body .container .tasks-bord .box-tasks .task .text-task:focus {
  box-shadow: 0 0 0 0.1rem white;
}
body .container .tasks-bord .box-tasks .task .text-task.checkedText {
  color: #abb0bf;
  text-decoration: line-through;
}
body .container .tasks-bord .box-tasks .task .autogrow-textarea-mirror {
  display: block;
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  color: #ffffff;
  background-color: transparent;
  /*margin-left: 0.3rem;*/
  margin-right: 0.3rem;
  overflow: hidden;
  min-height: 2em;
  width: 100%;
  margin-bottom: auto;
  z-index: -3;
  margin-left: -38.73rem;
}
body .container .tasks-bord .box-tasks .task .input-group-append .remove-btn {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border: none;
}

body .container .tasks-bord .box-tasks .task .task-group .text-task {
  height: auto;
}
/*# sourceMappingURL=style.css.map */