.btn-view {
  border-color: #CEDEF2;
  color: #CEDEF2;
}
.btn-view:hover {
  background-color: #0455BF;
  border-color: #CEDEF2;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
  background-color: #3890dc;
  border-color: #CEDEF2;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem #0468bf;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

body {
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #CEDEF2;
  line-height: 1.5;
  background-color: #CEDEF2;
}
body .container {
  border-radius: 15px;
  background-color: #0468BF;
  box-shadow: 0 0 0.7em black;
  min-height: 100vh;
  padding-bottom: 16px;
  padding-top: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
body .container .header h1 {
  text-align: center;
}
body .container .create-task {
  color: #ffffff;
}
body .container ::placeholder {
  color: #CEDEF2;
}
body .container .tasks-bord .create-task {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
body .container .tasks-bord .box-tasks {
  background-color: transparent;
}
body .container .tasks-bord .box-tasks .task {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
body .container .tasks-bord .box-tasks .task .input-group-prepend {
  background-color: transparent;
  color: #CEDEF2;
  display: flex;
  width: 2rem;
  height: 2rem;
  position: relative;
}
body .container .tasks-bord .box-tasks .task .input-group-prepend .custom-control-label::before {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  background-color: transparent;
}
body .container .tasks-bord .box-tasks .task .input-group-prepend .custom-control-label::after {
  width: 2rem;
  height: 2rem;
  position: relative;
  top: 0;
}
body .container .tasks-bord .box-tasks .task .parent-container-for-textarea {
  position: relative;
  width: 90%;
  display: flex;
}
body .container .tasks-bord .box-tasks .task .parent-container-for-textarea .autogrow-textarea-mirror.form-control {
  display: block;
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  color: #ffffff;
  background-color: transparent;
  /*margin-right: 0.3rem;*/
  overflow: hidden;
  min-height: 2em;
  width: 100%;
  z-index: -3;
}
body .container .tasks-bord .box-tasks .task .parent-container-for-textarea textarea.form-control.text-task {
  position: absolute;
  border: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
  color: #ffffff;
  background-color: transparent;
  /*margin-left: .3rem;
  margin-right: .3rem;*/
  overflow: hidden;
  min-height: 2em;
  height: 0;
  top: 0;
  left: 0;
  resize: none;
}
body .container .tasks-bord .box-tasks .task .parent-container-for-textarea textarea.form-control.text-task:focus {
  box-shadow: 0 0 0 0.1rem white;
}
body .container .tasks-bord .box-tasks .task .parent-container-for-textarea textarea.form-control.text-task.checkedText {
  color: #abb0bf;
  text-decoration: line-through;
}
body .container .tasks-bord .box-tasks .task .input-group-append .remove-btn {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.form-control {
  height: auto;
}
/*# sourceMappingURL=style.css.map */