@mixin standard-font {
  font-family: 'Source Serif Pro', serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #CEDEF2;
  line-height: 1.5;
}






.btn-view {
 border-color: #CEDEF2;
  color: #CEDEF2;

  &:hover {
    background-color: #0455BF;
    border-color: #CEDEF2;
  }

}
.btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
  background-color: #3890dc;
  border-color: #CEDEF2;
  &:focus {
    box-shadow: 0 0 0 0.1rem rgb(4, 104, 191);
  }


}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}
.custom-control-label::before {
  width: 1.5rem;
  height: 1.5rem;
}
.custom-control-label::after {
  width: 1.5rem;
  height: 1.5rem;
}



body {
  @include standard-font;
  background-color: #CEDEF2;
  .container {
    border-radius: 15px;
    background-color: #0468BF;
    box-shadow: 0 0 0.7em black;
    min-height: 100vh;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;


    .header {
      h1 {
        text-align: center;
      }
    }
    .create-task {
      color: #ffffff;
    }
    ::placeholder {
      color: #CEDEF2;
    }
    .tasks-bord {
      .create-task {
        background-color: transparent;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
      }
      .box-tasks {
        background-color: transparent;

        .task {
          background-color: transparent;
          padding-left: 0;
          padding-right: 0;
          border-top: none;
          display: flex;
          align-items: center;


              .input-group-prepend {
                background-color: transparent;
                color: #CEDEF2;
                .custom-checkbox {

                }


              }
            .text-task {
              border: none;
              overflow-wrap: break-word;
              word-wrap: break-word;
              color: #ffffff;
              background-color: transparent;
              margin-left: .3rem;
              margin-right: .3rem;
              overflow: hidden;
              min-height: 2em;


              width: 100%;
              &:focus {
                box-shadow: 0 0 0 0.1rem rgba(255, 255, 255, 1);
              }
              &.checkedText {
                color: #abb0bf;
                text-decoration: line-through;

              }

            }
            .autogrow-textarea-mirror {
              display: block;
              border: none;
              overflow-wrap: break-word;
              word-wrap: break-word;
              white-space: normal;
              color: #ffffff;
              background-color: transparent;
              margin-right: 0.3rem;
              overflow: hidden;
              min-height: 2em;
              width: 100%;
              margin-bottom: auto;
              z-index: -3;
              margin-left: -38.73rem
            }

          .input-group-append {
            .remove-btn {
              border-top-left-radius: .25rem;
              border-bottom-left-radius: .25rem;
              border: none;

            }
          }






        }
      }
    }



  }





}
