@mixin standard-font {
  /*font-family: 'Pangolin', cursive;*/
  font-family: 'Cinzel','Cormorant Infant', serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: #CEDEF2;
  line-height: 1.5;
}
@mixin  font-for-task {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;

}
.btn-view {
 border-color: #CEDEF2;
  color: #CEDEF2;
  &:hover {
    background-color: #0455BF;
    border-color: #CEDEF2;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: #3890dc;
    border-color: #CEDEF2;
    &:focus {
      box-shadow: 0 0 0 0.1rem rgb(4, 104, 191);
    }
  }

}


.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25);
}

body {
  @include standard-font;
  background-color: #E37F7D;
  .container {
    border-radius: 15px;
    background-color: #044277;
    box-shadow: 0 0 0.7em black;
    min-height: 95vh;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    .header {
      h1 {
        text-align: center;
        font-weight: 700;
        color: white;
      }
    }
    .tasks-bord {
      .create-task {
        background-color: transparent;
        border: 1px solid rgb(42, 101, 152);
        border-radius: .25rem;
        color: #ffffff;
        @include font-for-task;
      }
      ::placeholder {
        color: #CEDEF2;
        font-size: 1rem;
        @include standard-font;
      }
      .box-tasks {
        background-color: transparent;
        .task.list-group-item {
          border-bottom: 1px solid rgb(42, 101, 152);
        }
        .task {
          background-color: transparent;
          padding-left: 0;
          padding-right: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-bottom: 1rem;
          .input-group-prepend {
            background-color: transparent;
            color: #CEDEF2;
            display: flex;
            width: 2rem;
            height: 2rem;
            position: relative;
            .custom-control-label::before {
              width: 2rem;
              height: 2rem;
              position: absolute;
              top: 0;
              background-color: transparent;
            }
            .custom-control-label::after {
              width: 2rem;
              height: 2rem;
              position: relative;
              top: 0;
            }
          }
          .parent-container-for-textarea {
            display: flex;
            max-height: 100%;
            position: relative;
            min-width: 1px;
            margin: 0 4px;
            width: 90%;
            @include font-for-task;

            .autogrow-textarea-mirror.form-control {
              background: none;
              border: 0;
              min-height: 33px;
              resize: none;
              word-wrap: break-word;
              white-space: pre-wrap;
              height: auto;
              visibility: hidden;
              box-sizing: border-box;
              line-height: 32px;
              overflow: hidden;
              vertical-align: top;
              width: 100%;
              color: white;
              padding: 0 0.3rem;
            }
            textarea.form-control.text-task {
              overflow: hidden;
              resize: none;
              vertical-align: top;
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
              background: none;
              border: none;
              min-height: 33px;
              line-height: 32px;
              padding: 0 0.3rem;
              color: coral;
              overflow-wrap: break-word;
              word-wrap: break-word;
              white-space: pre-wrap;
              &:focus {
                box-shadow: 0 0 0 0.05rem rgba(255, 255, 255, 1);
              }
              &.checkedText {
                color: #abb0bf;
                text-decoration: line-through;

              }
            }
          }
          .input-group-append {
            height: 35px;
            .remove-btn {
              border-top-left-radius: .25rem;
              border-bottom-left-radius: .25rem;
            }
          }
        }
      }
    }
  }
}
